{% extends "base.html" %}
{% block title %}{{ lesson.title }}{% endblock %}
{% block content %}
<div class="lesson-detail">
  <div class="lesson-detail__header">
    <h2>
      {{ lesson.title }}
    </h2>
  </div>
  <div class="lesson-detail__body">
    <iframe
      src="https://www.youtube.com/embed/xvFZjo5PgG0?si=1OUEbaILKzey9_3y"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
    <p>{{ lesson.lesson_details }}</p>
  </div>
  <div class="lesson-detail__footer">
    {% if not complition %}
      <form action="{% url 'complete_lesson' pk=lesson.id %}" method="post">
        {% csrf_token %}
        <button class="btn" type="submit">Завершить урок</button>
      </form>
    {% else %}
      <a href="{% url 'module_detail' pk=module.id %}">
        <button class="btn" type="button">Вернуться в модуль</button>
      </a>
    {% endif %}
  </div>
</div>

{% endblock %}