{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="module-detail">
  <h2 class="module-detail__title">{{ module.title }}</h2>
    <p class="module-detail__desc">
        Завершено {{ completed_lessons|length }}/{{ content_items|length }} уроков и квизов
    </p>
    <div class="module-detail__progress-container">
        <progress value="{{ progressbar }}" max="100"></progress>
        <span class="progress-text">{{ progressbar }}%</span>
    </div>
</div>
<div class="content-collection">
    {% for item in content_items %}
    <div class="content-container {% if not item.is_unlocked %}content-container--disabled{% endif %}">
        <h2>
            {% if item.type == 'lesson' %}
            Урок. {{ item.obj.title }}
            {% else %}
            Квиз. {{ item.obj.title }}
            {% endif %}
        </h2>
        <a href="
            {% if item.type == 'lesson' %}
                {% url 'lesson_detail' item.obj.id %}
            {% else %}
                {% url 'quiz_detail' item.obj.id %}?module_id={{ module.id }}
            {% endif %}"
            class="content-container__link {% if not item.is_unlocked %}content-container__link--disabled{% endif %}">
        </a>
        <input type="checkbox" class="content-container__checkbox"
            {% if item.type == 'lesson' and item.obj.id in completed_lessons %}
                checked
            {% elif item.type == 'quiz' and item.obj.id in completed_quizzes %}
                checked
            {% endif %}
            disabled>
    </div>
    {% endfor %}
</div>

{% endblock %}