
.navbar {
    position: fixed;
    top: 6px;
    left: 0;
    right: 0;
    max-width: 1426px;
    width: 100%;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.8); /* прозрачный белый фон */
    display: flex;
    justify-content: space-between; /* название слева, меню по центру */
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid white; /* рамка */
    border-radius: 6px;
    box-sizing: border-box; /*padding не увеличивают размеры */
    z-index: 1000;
    margin: 0 auto; /* чтобы было в центре */
}

.navbar__list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    gap: 20px;
}

.navbar__list a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease; /* изменение цвета */
}

.navbar__list a:hover {
    color: blue;
}

.dropdown {
      position: relative;
      display: inline-block;
}

.dropdown img {
    max-width: 45px;
    max-height: 45px;
}

.dropdown__toggle {
    cursor: pointer;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: background-color 0.3s, color 0.3s;
    text-align: left;
}

.dropdown__button {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: background-color 0.3s, color 0.3s;
    text-align: left;
}

.dropdown__button:hover {
    background-color: #f2f2f2;
}

.dropdown__menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1000;
}

.dropdown__menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown__menu a:hover {
    background-color: #f2f2f2;
}

.dropdown:hover .dropdown__menu {
    display: block;
}

.base-footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.catalog-title {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 64px;
    font-weight: bold;
    max-width: 1426px;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
}

.topic-list {
    max-width: 1426px;
    display: flex;
    margin: 0 auto;
    padding: 10px;
    font-size: 24px;
    text-decoration: none;
    gap: 10px;
}

.topic-list__container {
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 10px;
}

.courses-collection {
    display: grid;
    max-width: 1426px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); /* Автоматически создаёт столбцы */
    gap: 20px; /* отступы между карточками */
    grid-auto-rows: 1fr;
    margin: 0 auto; /* чтобы было в центре */
    padding: 20px;
    padding-left: 12px;
    padding-right: 12px;
}

.course-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    background-color: rgba(0, 0, 255, 0.1);
    border: 1px solid #ddd;
    position: relative;
    padding: 16px;
    border-radius: 10px;
}

.course-card__title {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    margin-bottom: 16px;
}

.course-card__description{
    margin: 0;
}

@media (min-width: 721px) {
    .course-card__main {
        margin: 0;
        margin-top: 4px;
        align-self: center;
    }
}

@media (max-width: 720px) {
    .course-card__main {
        display: none;
    }
}
.course-card__footer{
    margin: 0;
    margin-top: 12px;
}

.course-card__price{
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.course-card__link{
    position: absolute;
    text-decoration: none;
    color: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.course-card img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    padding-top: 20px;
}

.course-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 1426px;
    width: calc(100% - 24px);
    padding: 20px 12px;
    border-radius: 10px;
    background-color: #f9f9f9;
    align-self: center;
    margin: 0 auto;
    margin-top: 90px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.course-detail__desc {
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}

.pagination-justify-content-center {
    list-style-type: none;
    max-width: 1426px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    font-size: 24px;
    text-decoration: none;
    gap: 10px;
}

.modules-collection {
    max-width: 1426px;
    margin: 0 auto;
    width: calc(100% - 24px);
    padding: 20px 12px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.module-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 1426px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ddd;
    position: relative;
    padding: 16px;
    border-radius: 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

.module-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.module-container__title {
    font-size: 24px;
    margin: 0;
}

.module-container__link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 10;
}

.module-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 1426px;
    width: calc(100% - 24px);
    padding: 20px 12px;
    border-radius: 10px;
    background-color: #f9f9f9;
    align-self: center;
    margin: 0 auto;
    margin-top: 90px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.module-detail__title {
    font-size: 24px;
    margin: 0;
}

.module-detail__desc {
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}

.content-collection {
    max-width: 1426px;
    margin: 0 auto;
    gap: 20px;
    padding: 20px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 1426px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ddd;
    position: relative;
    padding: 20px 12px;
    border-radius: 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

.content-container--disabled {
    background-color: #f2f2f2;
    opacity: 0.7;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 1426px;
    width: 100%;
    border: 1px solid #ddd;
    position: relative;
    padding: 20px 12px;
    border-radius: 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

.content-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.content-container__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 10;
}

.content-container__link--disabled {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    pointer-events: none;
    color: gray;
    z-index: 10;
}

.content-container__checkbox{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-60%) scale(3.0);
}

.quiz_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 1426px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ddd;
    position: relative;
    padding: 16px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 80px;
}

.quiz_detail__title {
    font-size: 24px;
    margin: 0;
}

.lesson-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 1426px;
    width: calc(100% - 24px);
    padding: 20px 12px;
    border-radius: 10px;
    background-color: #ffffff;
    align-self: center;
    margin: 0 auto;
    margin-top: 90px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.lesson-detail__header {

}

.lesson-detail__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.lesson-detail__body p {
    align-self: flex-start;
    padding-top: 10px;
    font-size: 18px;
    word-break: break-word;
    margin-top: 20px;
}

.lesson-detail__body iframe {
    width: 100%;
    max-width: 1280px;
    height: auto;
    aspect-ratio: 16/9;
    margin-bottom: 20px;
}

.lesson-detail__footer {
    display: flex;
    align-self: flex-end;
}

#topic-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: auto;
        width: 50%;
      }

#topic-list {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    }

#question-form {
    padding: 20px;
    }

.option {
    border-radius: 10px;
    }

.option input[type='radio'] {
    display: none;
    }

.option label {
    display: block;
    padding: 10px 20px;
    background-color: #eeeeee;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    }

.option label:hover {
    background-color: #c9c9c9;
    }

.option input[type='radio']:checked + label {
    background-color: #818181;
    color: #fff;
    }

#heading-text {
    text-align: center;
    }

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    display: block;
    margin: 20px auto;
    }

.btn:hover {
    background-color: #0056b3;
    }

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: black;
}

.quiz-container {

}

.module-detail__progress-container {
    position: relative;
    width: 100%;
}

progress {
    width: 100%;
    height: 30px;
    background-color: #f3f3f3;
    border-radius: 5px;
}
progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border-radius: 5px;
}
progress::-webkit-progress-value {
    background-color: #4caf50;
    border-radius: 5px;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    z-index: 2;
    pointer-events: none;
}

.body {
    font-family: "Times New Roman";
}