.catalog_title {
    font-size: 64px;
    font-weight: bold;
}

.card_title {
    font-weight: bold;
}

.course_card{
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: rgba(0, 255, 255, 0.1);
    border: 1px solid #ddd;
    position: relative;
}

.course_card a {
    text-decoration: none;
    color: inherit;
}

.course_card img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    padding-top: 20px;
}

.courses_collection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Автоматически создаёт столбцы с минимальной шириной 300px */
    gap: 20px; /* Отступы между карточками */
    grid-auto-rows: 1fr;
}
