{% extends "base.html" %}
{% block title %}Квиз "{{quiz.title }}"{% endblock %}
{% block content %}
<form hx-post="{% url 'get-questions' %}/start">
    {% csrf_token %}
    <div class="quiz_detail">
        <h2 class="quiz_detail__title">{{ quiz.title }}</h2>
        <div class="quiz_detail__header">
            <p>Необходимый балл: {{ quiz.pass_score }}</p>
            <p>Вопросы: {{ quiz.questions_count }}</p>
            <input type="hidden" name="quiz_id" value="{{ quiz.id }}">
            <input type="hidden" name="module_id" value="{{ module.id }}">
            <button class="btn" type="submit">Начать</button>
        </div>
    </div>
</form>
{% endblock %}