{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
        <h1>Мой сайт</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/">О нас</a></li>
        </ul>
    </nav>
<main>
  {% block content %}{% endblock %}
</main>
<footer>
  <p>Coursenator700000
    10.10.2088</p>
</footer>
</body>
</html>