{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<div>
    <center>
        <div class="course_update">
            <h1>Редактирование курса</h1> <br>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                {% if form.errors %}
                    <div class="errors">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}

                <button type="submit">Изменить</button>
            </form>
        </div>
    </center>
</div>
{% endblock %}