{% extends "base.html" %}
{% load static %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<h1 class="catalog-title">
    Каталог курсов
</h1>
<div class="topic-list">
    {% for topic in topics %}
        <div class="topic-list__container">
            <a href="?topic={{ topic.id }}">{{ topic.title }}</a>
        </div>
    {% endfor %}
</div>
<div class="courses-collection">
    {% for course in courses_paginator %}
        <div class="course-card">
            <header class="course-card__header">
                <div class="course-card__tag">

                </div>
                <h2 class="course-card__title">
                    {{ course.title }}
                </h2>
                <p class="course-card__description">
                    {{ course.description }}
                </p>
            </header>
            <div class="course-card__main">
                <img src="{{ course.image.url }}" alt="Картинка для {{ course.title }}">
            </div>
            <footer class="course-card__footer">
                <p class="course-card__price">
                    {{ course.price }} Руб.
                </p>
            </footer>
            <a class="course-card__link" href="{% url 'course_detail' course.id %}" ></a>
        </div>
    {% endfor %}
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination-justify-content-center">

        {% if courses_paginator.has_previous %}
            <li class="page-item">
                <a class="page-link"
                   href="?{% if current_topic %}topic={{ current_topic }}&{% endif %}page={{ courses_paginator.previous_page_number }}">
                   Предыдущая
                </a>
            </li>
        {% endif %}

        {% for page in courses_paginator.paginator.page_range %}
            <li class="page-item {% if page == courses_paginator.number %}active{% endif %}">
                <a class="page-link"
                   href="?{% if current_topic %}topic={{ current_topic }}&{% endif %}page={{ page }}">
                   {{ page }}
                </a>
            </li>
        {% endfor %}

        {% if courses_paginator.has_next %}
            <li class="page-item">
                <a class="page-link"
                   href="?{% if current_topic %}topic={{ current_topic }}&{% endif %}page={{ courses_paginator.next_page_number }}">
                   Следующая
                </a>
            </li>
        {% endif %}

    </ul>
</nav>

{% endblock %}
