{% extends "base.html" %}
{% load static %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<h1 class="catalog_title">
    Каталог курсов
</h1>
<div class="courses_collection">
    {% for course in courses %}
        <div class="course_card">
            <a href="{% url 'course_detail' course.id %}" >
            <span class="card_title">{{ course.title }}</span>
                <br>
            <span>{{ course.description }}</span>
            <img src="{{ course.image.url }}" alt="Картинка для {{ course.title }}">
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}
