{% extends "base.html" %}
{% load static %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<h1 class="catalog-title">
    Каталог курсов
</h1>
<div class="courses-collection">
    {% for course in courses %}
        <div class="course-card">
            <header class="course-card__header">
                <div class="course-card__tag">

                </div>
                <h2 class="course-card__title">
                    {{ course.title }}
                </h2>
                <p class="course-card__description">
                    {{ course.description }}
                </p>
            </header>
            <div class="course-card__main">
                <img src="{{ course.image.url }}" alt="Картинка для {{ course.title }}">
            </div>
            <footer class="course-card__footer">
                <p class="course-card__price">
                    {{ course.price }} Руб.
                </p>
            </footer>
            <a class="course-card__link" href="{% url 'course_detail' course.id %}" ></a>
        </div>
    {% endfor %}
</div>
{% endblock %}
