{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div class="custom-alert error">
        {{ error }}
    </div>
    {% endfor %}
{% endif %}

<div class="login">
    <h2>Вход</h2>
    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
            {{ form.username }}
            {% for error in form.username.errors %}
            <div class="custom-alert error">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}">Пароль</label>
            {{ form.password }}
            {% for error in form.password.errors %}
            <div class="custom-alert error">{{ error }}</div>
            {% endfor %}
        </div>

        <button class="btn" type="submit">Войти!</button>
    </form>
</div>
{% endblock %}
