{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="register">
    <h2>Регистрация</h2>
    <form method="post">
    {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
            {{ form.username }}
        </div>

        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Электронная почта</label>
            {{ form.email }}
        </div>

        <div class="form-group">
            <label for="{{ form.first_name.id_for_label }}">Имя (необязательно)</label>
            {{ form.first_name }}
        </div>

        <div class="form-group">
            <label for="{{ form.last_name.id_for_label }}">Фамилия (необязательно)</label>
            {{ form.last_name }}
        </div>

        <div class="form-group">
            <label for="{{ form.password1.id_for_label }}">Пароль</label>
            {{ form.password1 }}
        </div>

        <div class="form-group">
            <label for="{{ form.password2.id_for_label }}">Повторите пароль</label>
            {{ form.password2 }}
            {% if form.password2.errors %}
                <div class="error">{{ form.password2.errors.0 }}</div>
            {% endif %}

        </div>

        <button class="btn" type="submit">Зарегистрироваться!</button>
    </form>
</div>
{% endblock %}