body {
    font-family: "Times New Roman";
    padding-top: 60px;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    min-height: 100vh;
}

.navbar {
    position: fixed;
    top: 6px;
    left: 0;
    right: 0;
    max-width: 1426px;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8); /* прозрачный белый фон */
    display: flex;
    justify-content: space-between; /* название слева, меню по центру */
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid white; /* рамка */
    border-radius: 6px;
    box-sizing: border-box; /*padding не увеличивают размеры */
    z-index: 1000;
    margin: 0 auto;
}

.navbar__list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    gap: 20px;
}

.navbar__list a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease; /* изменение цвета */
}

.navbar__list a:hover {
    color: blue;
}

.dropdown {
      position: relative;
      display: inline-block;
}

.dropdown img {
    min-width: 45px;
    max-height: 45px;
    width: 45px;
    height: 45px;
}

.dropdown__toggle {
    cursor: pointer;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: background-color 0.3s, color 0.3s;
    text-align: left;
}

.dropdown__button {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: background-color 0.3s, color 0.3s;
    text-align: left;
}

.dropdown__button:hover {
    background-color: #f2f2f2;
}

.dropdown__menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1000;
}

.dropdown__menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown__menu a:hover {
    background-color: #f2f2f2;
}

.dropdown:hover .dropdown__menu {
    display: block;
}

.catalog-title {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 64px;
    font-weight: bold;
    max-width: 1426px;
    width: 100%;
    margin: 0 auto;
}

.topic-list {
    max-width: 1426px;
    display: flex;
    margin: 0 auto;
    padding: 10px;
    font-size: 24px;
    text-decoration: none;
    gap: 10px;
}

.topic-list__container {
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 10px;
}

.topic-list__container.active {
    background-color: rgba(0, 0, 255, 0.1);
}

.courses-collection {
    display: grid;
    max-width: 1426px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); /* Автоматически создаёт столбцы */
    gap: 20px; /* отступы между карточками */
    grid-auto-rows: 1fr;
    margin: 0 auto; /* чтобы было в центре */
    padding: 20px;
    padding-left: 12px;
    padding-right: 12px;
}

.course-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    background-color: rgba(113, 85, 47, 0.05);
    border: 1px solid #ddd;
    position: relative;
    padding: 16px;
    border-radius: 10px;
}

.course-card__title {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    margin-bottom: 16px;
}

.course-card__description{
    margin: 0;
}

@media (min-width: 721px) {
    .course-card__main {
        margin: 0;
        margin-top: 4px;
        align-self: center;
    }
}

@media (max-width: 720px) {
    .course-card__main {
        display: none;
    }
}
.course-card__footer{
    margin: 0;
    margin-top: 12px;
}

.course-card__price{
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.course-card__link{
    position: absolute;
    text-decoration: none;
    color: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.course-card img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    padding-top: 20px;
}

.course-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 1426px;
    width: calc(100% - 24px);
    padding: 20px 12px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    align-self: center;
    margin: 0 auto;
    margin-top: 90px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.course-detail__desc {
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}

.pagination-justify-content-center {
    list-style-type: none;
    max-width: 1426px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    font-size: 24px;
    text-decoration: none;
    gap: 10px;
}

.modules-collection {
    max-width: 1426px;
    margin: 0 auto;
    width: calc(100% - 24px);
    padding: 20px 12px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.module-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 1426px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ddd;
    position: relative;
    padding: 16px;
    border-radius: 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

.module-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.module-container__title {
    font-size: 24px;
    margin: 0;
}

.module-container__link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 10;
}

.module-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 1426px;
    width: calc(100% - 24px);
    padding: 20px 12px;
    border-radius: 10px;
    background-color: #f9f9f9;
    align-self: center;
    margin: 0 auto;
    margin-top: 90px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.module-detail__title {
    font-size: 24px;
    margin: 0;
}

.module-detail__desc {
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}

.content-collection {
    max-width: 1426px;
    margin: 0 auto;
    gap: 20px;
    padding: 20px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 1426px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ddd;
    position: relative;
    padding: 20px 12px;
    border-radius: 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

.content-container--disabled {
    background-color: #f2f2f2;
    opacity: 0.7;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 1426px;
    width: 100%;
    border: 1px solid #ddd;
    position: relative;
    padding: 20px 12px;
    border-radius: 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

.content-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.content-container__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 10;
}

.content-container__link--disabled {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    pointer-events: none;
    color: gray;
    z-index: 10;
}

.content-container__checkbox{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-60%) scale(3.0);
}

.quiz_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 1426px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ddd;
    position: relative;
    padding: 16px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 80px;
}

.quiz_detail__title {
    font-size: 24px;
    margin: 0;
}

.lesson-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 1426px;
    width: calc(100% - 24px);
    padding: 20px 12px;
    border-radius: 10px;
    background-color: #ffffff;
    align-self: center;
    margin: 0 auto;
    margin-top: 90px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.lesson-detail__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.lesson-detail__body p {
    align-self: flex-start;
    padding-top: 10px;
    font-size: 18px;
    word-break: break-word;
    margin-top: 20px;
}

.lesson-detail__body iframe {
    width: 100%;
    max-width: 1280px;
    height: auto;
    aspect-ratio: 16/9;
    margin-bottom: 20px;
}

.lesson-detail__footer {
    display: flex;
    align-self: flex-end;
}

#topic-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: auto;
        width: 50%;
      }

#topic-list {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    }

#question-form {
    padding: 20px;
    }

.option {
    border-radius: 10px;
    }

.option input[type='radio'] {
    display: none;
    }

.option label {
    display: block;
    padding: 10px 20px;
    background-color: #eeeeee;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    }

.option label:hover {
    background-color: #c9c9c9;
    }

.option input[type='radio']:checked + label {
    background-color: #818181;
    color: #fff;
    }

#heading-text {
    text-align: center;
    }

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    display: block;
    margin: 20px auto;

    }

.btn:hover {
    background-color: #0056b3;
    }

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: black;
}

.quiz-container {

}

.module-detail__progress-container {
    position: relative;
    width: 100%;
}

progress {
    width: 100%;
    height: 30px;
    background-color: #f3f3f3;
    border-radius: 5px;
}
progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border-radius: 5px;
}
progress::-webkit-progress-value {
    background-color: #4caf50;
    border-radius: 5px;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    z-index: 2;
    pointer-events: none;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 1426px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ddd;
    position: relative;
    padding: 16px;
    border-radius: 10px;
    margin: 0 auto;
    box-sizing: border-box;
}

.profile__user {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.profile__user img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #4cafa7;
    margin-bottom: 10px;
    cursor: pointer;
}

.profile__user:hover img {
    filter: brightness(0.4);
}

.profile__user::after {
    content: "Сменить аватар";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.profile__user:hover::after {
    opacity: 1;
}

.profile__user p {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.profile__enrollments h2 {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: #444;
}

.profile__enrollments ul {
    list-style-type: none;
    padding: 0;
}

.profile__enrollments li {
    position: relative;
    padding: 10px 15px;
    margin-bottom: 8px;
    background-color: #f9f9f9;
    border-left: 5px solid #4cafa7;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.profile__enrollments li a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.profile__enrollments li:hover {
    background-color: #e0f7e9;
    cursor: pointer;
}

.profile__user .messages {
    list-style: none;
    padding-left: 0;
    margin: 8px 0 0 0;
    max-width: 100%;
    background-color: #d4edda; /* светло-зеленый фон для успеха */
    color: #155724; /* темно-зеленый текст */
    border-radius: 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.9rem;
    box-sizing: border-box;
}

.profile__user .messages li.message {
    padding: 6px 12px;
}

.divider {
    height: 2px;
    width: 100%;
    background-color: #ccc;
    border: none;
}

footer {
    display: block;
    font-family: Helvetica, Arial;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1279px) {
    .footer-container {
        max-width: 100%;
        margin: 0 16px;
    }
}

@media screen and (max-width: 1439px) {
    .footer-container {
        max-width: 1240px;
    }
}

.footer-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 0 24px;
    box-sizing: border-box;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 48px;
}

.logo-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.logo {
    max-height: 80px;
    max-width: 200px;
}

.social-list {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}

@media screen and (max-width: 767px) {
    .social-list {
        margin: 20px 0;
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1023px) {
    .social-list {
        grid-column: 1 / 3;
    }
}

.social-list {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}

.icon-btn a {
    padding: 6px;
}

.social-item a {
    background: #F0F0F0;
    border-radius: 8px;
    transition: background 200ms;
    display: block;
    box-sizing: border-box;
}

.social-item:hover {
    background-color: rgba(129, 129, 129, 0.3);
}

.store-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.store-btn__list {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: flex;
    gap: 44px;
}

@media screen and (max-width: 767px) {
    .store-btn__list {
        flex-direction: column-reverse;
        gap: 12px;
        margin-bottom: 32px;
    }
}

.store-wrapper {
    display: flex;
    gap: 6px;
}

.store-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.store-list__qr {
    max-height: 132px;
    max-width: 132px;
}

.store-list__qr img {
    max-height: 132px;
    max-width: 132px;
}

@media screen and (max-width: 767px) {
    .store-list__qr {
        display: none;
    }
}

.store-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media screen and (max-width: 767px) {
    .store-text h3 {
        font-size: 16px;
        width: 100%;
        letter-spacing: 0.01em;
    }
}

@media screen and (max-width: 767px) {
    .store-text p {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .store__title {
        font-size: 16px;
        width: 100%;
        letter-spacing: 0.01em;
    }
}

.store__title {
    font-size: 26px;
    line-height: 108%;
    font-weight: 400;
    color: #1E1E1E;
    letter-spacing: -0.01em;
    margin: 0;
    width: 386px;
}

#subscribe-modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px 30px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    z-index: 1000;
}

#subscribe-modal-overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999;
}

.close-btn {
    background: transparent;
    border: none;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

input[type="email"] {
    padding: 8px;
    font-size: 16px;
    margin-right: 10px;
}

.register {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
    background-color: rgba(113, 85, 47, 0.1);
    font-family: sans-serif;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

.form-group input:focus {
    outline: none;
    border-color: #795548; /* шоколадный */
    box-shadow: 0 0 3px rgba(121, 85, 72, 0.5);
}

.btn {
    background-color: #795548;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #5d4037;
}

.login {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
    background-color: rgba(113, 85, 47, 0.1);
    font-family: sans-serif;
}

.custom-alert {
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 14px;
}

.error {
    background-color: #f8d7da;
    color: #000000;
    border: 1px solid #f5c6cb;
    text-align: center;

}